<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

    <title>The Little Jerry</title>
    <meta name="google-site-verification" content="6dvKmfuaqXi8FW_DKvGS0bSn311NkPOmUObVpF_QnGY" />
  </head>
  <body>
    <section id="headerNav">
      <header class="masthead" role="banner" :class="{'isOpen' : navInvoke}">
        <div class="masthead-left">
          <h1 class="logo">
            <!-- <span class="logo-text">The Little Jerry</span> -->
            <img src="img/TheLittleJerryLogo_brown.svg" />
            <!-- <img src="../../assets/niad_logo{{ miniHeader || isCollapsed || isWhite ? '_bl' : '' }}.svg" alt="Niad Logo" title="Niad Logo"> -->
          </h1>
        </div>
        <div class="masthead-right">
          <button
            @click="toggleNav"
            id="menu__icon"
            class="menu__mobile navTrigger"
            :class="{'isOpen' : navInvoke, 'white' : !navInvoke}"
          >
            <span class="navTrigger-outer">
              <span class="navTrigger-inner"></span>
            </span>
          </button>
        </div>
      </header>
      <div
        class="site-navigation"
        id="site-navigation"
        aria-hidden="true"
        :class="{ 'isOpen': navInvoke}"
      >
        <nav class="site-navigation--nav" role="navigation">
          <ul class="site-navigation--primary-links">
            <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="menu"
                ><i class="fas fa-utensils"></i> Menu
              </a>
            </li>
            <!-- <li class="site-navigation--link-container">
              <a
                class="link--underline"
                target="_blank"
                href="img/LittleJerry_Wine_b2ffzatl4t.pdf"
              >
                <i class="fas fa-wine-bottle"></i> Wine List
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a
                class="link--underline"
                target="_blank"
                href="img/LittleJerry_Beer_okrn2pjttk.pdf"
              >
                <i class="fa fa-beer"></i> Beer/Cider/Vermouth
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="late-night-food/"
                ><i class="fas fa-utensils"></i> Late Night Food
              </a>
            </li> -->
            <!-- <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="jerry-to-go"
                ><i class="fas fa-shopping-bag"></i> Jerry To Go
              </a>
            </li> -->
            <li class="site-navigation--link-container">
              <a class="link--underline" href="mailto:info@thelittlejerry.com">
                <i class="fas fa-envelope-square"></i> info@thelittlejerry.com
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a class="link--underline" href="tel:416-551-5981">
                <i class="fa fa-phone-square"></i> 416-551-5981
              </a>
            </li>
            <!-- <li class="site-navigation--link-container">
              <a class="link--underline" target="_blank" href="../wine-flights/"
                ><i class="fas fa-wine-glass-alt"></i> Wine Flights
              </a>
            </li> -->
          </ul>

          <!-- <ul class="site-navigation--secondary-links">
        
            <li class="site-navigation--link-container">
              <a (click)="toggleNav()" class="link--underline" routerLink="/contact" routerLinkActive="active">contact</a>
            </li>
    
            <li class="site-navigation--link-container">
              <a class="link--underline" href="mailto:support@niadsystems.com">support</a>
            </li>
                
          </ul> -->
        </nav>

        <!-- <section id="socialNav" class="social" :class="{ 'isOpen': navInvoke}">
          <div class="flex-center">
            <a href="https://twitter.com/littlejerryTO" target="_blank">
              <i class="fa fa-twitter icon-3d"></i>
            </a>
            <a href="https://facebook.com/thelittlejerry" target="_blank">
              <i class="fa fa-facebook icon-3d"></i>
            </a>
            <a href="https://www.instagram.com/littlejerryto/" target="_blank">
              <i class="fa fa-instagram icon-3d"></i>
            </a>
          </div>
        </section> -->
      </div>
    </section>
    <section id="main-container" class="main-container">
      <h1 class="heading-primary">
        <!-- <span class="heading-primary--sup">the</span><br v-if="!isMobile">
        <span class="heading-primary--main">Little Jerry</span> -->
        <img
          src="img/TheLittleJerryLogo_white.svg"
          class="heading-primary--main"
          alt="The Little Jerry"
        />
        <!-- <span class="heading-primary--sub">Summer 2019</span> -->
        <span class="heading-primary--sub">418 College St<br />Toronto</span>
          <span v-if="Date.now() > dateAfter" class="heading-primary--sub heading-primary--sub2"
          >Wed-Sun 6pm-2am<br><small><sup>*</sup>Closed Mon/Tues</small>
        <br/><sup>*</sup>Kitchen to 11pm 
        <!-- <small>(10pm Sunday)</small> -->
        </span>
        <span v-if="Date.now() > dateAfter" class="heading-primary--sub heading-primary--sub2"
          >
          No Reservations
          <small><br><sup>*</sup>Walk-ins Only<br v-if="isMobile"></small>
          </span
        >
        <span v-if="Date.now() < dateAfter" class="heading-primary--sub heading-primary--sub2"
          >
          Hi, we are Closed from July 23 <br v-if="isMobile">to August 8<br>for a Brief Summer Break.<br>Join us when we reopen on August 9! 
          </span
        >
        <span class="heading-primary--sub heading-primary--sub2">
          Roll thru, have a drink, eat a snack, listen to the system...
        </span>
        <!-- <a href="https://resy.com/cities/tor/the-little-jerry" id="resyButton-geoYXkk2dOMPDLHWuDidW">Book your The Little Jerry reservation on Resy</a>

<script src="https://widgets.resy.com/embed.js"></script>
<script>
    resyWidget.addButton(document.getElementById('resyButton-geoYXkk2dOMPDLHWuDidW'), {"venueId":54434,"apiKey":"CJq133Pn6d0gXlCbBCrN5P9mOQXwPkA9","replace":true,});
</script> -->
        <!-- <span class="heading-primary--sub heading-primary--sub2"
          >Takeout Food & Bottle Shop<br />Wed - Sat <br />12pm -
          7pm<br />
        </span> -->
        <!-- <span class="heading-primary--sub heading-primary--sub2"
          >Check out our
          <br v-if="!isMobile"><a href="jerry-to-go/" class="primary-color" target="_self"
            >Takeout Menu</a
          ><br v-if="isMobile">/Saturday Delivery</span> -->
        <!-- <span class="heading-primary--sub heading-primary--sub2">
          for reservations:
          <a
            href="https://www.instagram.com/littlejerryto/"
            class="primary-color"
            target="_self"
            >Instagram DM</a
          ></span
        >
        <span class="heading-primary--sub heading-primary--sub2"
          >Check out our
          <a href="menu/" class="primary-color" target="_self"
            >Dinner Menu</a
          ></span
        > -->
        <!-- <span class="heading-primary--sub heading-primary--sub2"
          >Check
          <a
            href="https://www.instagram.com/littlejerryto/"
            class="primary-color"
            target="_blank"
            >Instagram</a
          >
          for Music Listings</span
        > -->
      </h1>
    </section>
    <section id="social" class="social">
      <div class="flex-center">
        <!-- <a href="https://twitter.com/littlejerryTO" target="_blank">
          <i class="fa fa-twitter icon-3d"></i>
        </a> -->
        <a href="https://soundcloud.com/smalljerry" target="_blank">
          <i class="fab fa-soundcloud icon-3d"></i>
        </a>
        <a href="https://www.instagram.com/littlejerryto/" target="_blank">
          <i class="fab fa-instagram icon-3d"></i>
        </a>
      </div>
    </section>
    <!-- <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@2.6.8/dist/vue.min.js"></script>
    <script>
      let header = new Vue({
        el: "#headerNav",
        data: {
          navInvoke: false,
        },
        methods: {
          toggleNav: function () {
            this.navInvoke = !this.navInvoke;
          },
        },
      });
      let maain = new Vue({
        el: "#main-container",
        data: {
          isMobile: false,
          window: {
            width: 0,
            height: 0,
          },
          dateBefore: new Date('2023-07-23'),
          dateAfter: new Date('2023-08-05'),
        },
        created() {
          window.addEventListener("resize", this.handleResize);
          this.handleResize();
        },
        destroyed() {
          window.removeEventListener("resize", this.handleResize);
        },
        methods: {
          handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.handleMobile();
          },
          handleMobile: function () {
            this.window.width <= 600
              ? (this.isMobile = true)
              : (this.isMobile = false);
          },
        },
      });
    </script>
  </body>
</html>
