<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/style_togo.css" />
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />

    <title>The Little Jerry - Menu</title>
  </head>
  <body>
    <section id="headerNav" class="headerNav" :class="{'isOpen' : navInvoke}">
      <header class="masthead" role="banner" :class="{'isOpen' : navInvoke}">
        <div class="masthead-left">
          <h1 class="logo">
            <!-- <span class="logo-text">The Little Jerry</span> -->
            <a href="../index.html"
              ><img src="../img/TheLittleJerryLogo_brown.svg"
            /></a>
            <!-- <img src="../../assets/niad_logo{{ miniHeader || isCollapsed || isWhite ? '_bl' : '' }}.svg" alt="Niad Logo" title="Niad Logo"> -->
          </h1>
        </div>
        <div class="masthead-right">
          <button
            @click="toggleNav"
            id="menu__icon"
            class="menu__mobile navTrigger"
            :class="{'isOpen' : navInvoke, 'white' : !navInvoke}"
          >
            <span class="navTrigger-outer">
              <span class="navTrigger-inner"></span>
            </span>
          </button>
        </div>
      </header>
      <div
        class="site-navigation"
        id="site-navigation"
        aria-hidden="true"
        :class="{ 'isOpen': navInvoke}"
      >
        <nav class="site-navigation--nav" role="navigation">
          <ul class="site-navigation--primary-links">
            <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="index.html"
                ><i class="fas fa-utensils"></i> Menu
              </a>
            </li>
            <!-- <li class="site-navigation--link-container">
              <a
                class="link--underline"
                target="_blank"
                href="../img/LittleJerry_Wine_b2ffzatl4t.pdf"
              >
                <i class="fas fa-wine-bottle"></i> Wine List
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a
                class="link--underline"
                target="_blank"
                href="../img/LittleJerry_Beer_okrn2pjttk.pdf"
              >
                <i class="fa fa-beer"></i> Beer/Cider/Vermouth
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="../late-night-food/"
                ><i class="fas fa-utensils"></i> Late Night Food
              </a>
            </li> -->
            <!-- <li class="site-navigation--link-container">
              <a class="link--underline" target="_self" href="../jerry-to-go"
                ><i class="fas fa-shopping-bag"></i> Jerry To Go
              </a>
            </li> -->
            <li class="site-navigation--link-container">
              <a class="link--underline" href="mailto:info@thelittlejerry.com">
                <i class="fas fa-envelope-square"></i> info@thelittlejerry.com
              </a>
            </li>
            <li class="site-navigation--link-container">
              <a class="link--underline" href="tel:416-551-5981">
                <i class="fa fa-phone-square"></i> 416-551-5981
              </a>
            </li>
            <!-- <li class="site-navigation--link-container">
              <a class="link--underline" target="_blank" href="../wine-flights/"
                ><i class="fas fa-wine-glass-alt"></i> Wine Flights
              </a>
            </li> -->
          </ul>

          <!-- <ul class="site-navigation--secondary-links">
        
            <li class="site-navigation--link-container">
              <a (click)="toggleNav()" class="link--underline" routerLink="/contact" routerLinkActive="active">contact</a>
            </li>
    
            <li class="site-navigation--link-container">
              <a class="link--underline" href="mailto:support@niadsystems.com">support</a>
            </li>
                
          </ul> -->
        </nav>

        <!-- <section id="socialNav" class="social" :class="{ 'isOpen': navInvoke}">
          <div class="flex-center">
            <a href="https://twitter.com/littlejerryTO" target="_blank">
              <i class="fa fa-twitter icon-3d"></i>
            </a>
            <a href="https://facebook.com/thelittlejerry" target="_blank">
              <i class="fa fa-facebook icon-3d"></i>
            </a>
            <a href="https://www.instagram.com/littlejerryto/" target="_blank">
              <i class="fa fa-instagram icon-3d"></i>
            </a>
          </div>
        </section> -->
      </div>
    </section>
    <section v-if="isMobile" id="contact-tracing" class="contact-tracing">
      <a href="https://forms.gle/bkKdZcpRhVPiyejM8" target="_blank">
        <i class="fa fa-external-link"></i> Contact Tracing Form
      </a>
    </section>
    <section id="main-container" class="main-container">
      <div class="main-container-content">
        <h1 class="heading-primary">Food Menu</h1>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item primary-color"
          >
            New Menu Coming Soon
          </h3>
        </div>
        <!-- <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Pickle Plate<br /> <small>(Seasonal <span class="primary-color">&</span> Rotating)</small>
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>9
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Roast Carrots w<span class="primary-color">/</span> Pumpkin Seed Tahini, Cacao <span class="primary-color">+</span> Ginger
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>14
          </h3>
        </div>
        <div class="menut-item"> 
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
          Celeriac w<span class="primary-color">/</span> Fermented Jalapēno <span class="primary-color">+</span> Beurre Blanc
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>14
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Cabbage w<span class="primary-color">/</span
            > Mussels <span class="primary-color">+</span> Chili
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>14
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Sea Bream Crudo w<span class="primary-color">/</span> Preserved Lemon, Pickled Potato 
            <span class="primary-color">+</span> Sunflower
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>15
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
          Hen of the Woods Mushroom w<span class="primary-color">/</span> Sunchokes <span class="primary-color">+</span> Cashel Blue
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>15
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
          Cured Trout w<span class="primary-color">/</span> Green Lentil Aioli, Swiss Chard <span class="primary-color">+</span> Fermented Peppers
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>18
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Lamb Tartare w<span class="primary-color">/</span> Anchovy, Feta <span class="primary-color">+</span> Sumac Crackers
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>18
          </h3>
        </div>
        
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Duck Breast w<span class="primary-color">/</span> Delicata Squash <span class="primary-color">+</span> Preserved Walnut
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>19
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
          Chocolate Brownie <br v-if="isMobile" />w<span class="primary-color">/</span> Walnuts <span class="primary-color">+</span> Ice Cream
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>10
          </h3>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
          Hot Milk Cake <br v-if="isMobile" />w<span class="primary-color">/</span> Ice Cream
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>12
          </h3>
        </div> -->
        <!-- <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Pan Fried Branzino
            <br v-if="isMobile" />w<span class="primary-color">/</span>
            Radish
            <span class="primary-color">/</span> Cilantro
            <span class="primary-color">+</span> Sweet Soy
          </h3>
          <div class="menu-price">
            <h3 class="heading-secondary heading-secondary--list">
              <span class="primary-color">$</span>44
              <span class="primary-color">/</span> Whole Fish
            </h3>
            <h3 class="heading-secondary heading-secondary--list">
              <span class="primary-color">$</span>24
              <span class="primary-color">/</span> Half
            </h3>
          </div>
        </div>
        <div class="menut-item">
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--item"
          >
            Ontario Blueberries w<span class="primary-color">/</span> Buttermilk
            Sorbet <span class="primary-color">+</span> Chamomile Granita
          </h3>
          <h3
            class="heading-secondary heading-secondary--list heading-secondary--price"
          >
            <span class="primary-color">$</span>7
          </h3> -->
      </div>
    </section>
    <!-- <section class="links-container">
      <div class="main-container-links">
        <ul class="site-navigation--primary-links">
          <li
            class="site-navigation--link-container site-navigation--link-container--page"
          >
            <a
              class="link--underline"
              target="_blank"
              href="../img/LittleJerry_Wine_b2ffzatl4t.pdf"
            >
              <i class="fas fa-wine-bottle"></i> Wine List
            </a>
          </li>
          <li
            class="site-navigation--link-container site-navigation--link-container--page"
          >
            <a
              class="link--underline"
              target="_blank"
              href="../img/LittleJerry_Beer_okrn2pjttk.pdf"
            >
              <i class="fa fa-beer"></i> Beer List
            </a>
          </li> -->
          <!-- <li
            class="site-navigation--link-container site-navigation--link-container--page"
          >
            <a class="link--underline" target="_blank" href="../wine-flights/"
              ><i class="fas fa-wine-glass-alt"></i> Wine Flights
            </a>
          </li> -->
        <!-- </ul>
      </div>
    </section> -->
    <!-- <iframe
      style="width: 100%; height: 740px; margin: auto; border: 0 solid #fff;"
      src="https://www.tbdine.com/book/restaurant/the-little-jerry?idApp=69206&language=en-us"
    ></iframe> -->
    <!-- <section id="social" class="social">
      <div class="flex-center">
        <a href="https://twitter.com/littlejerryTO" target="_blank">
          <i class="fa fa-twitter icon-3d"></i>
        </a>
        <a href="https://facebook.com/thelittlejerry" target="_blank">
          <i class="fa fa-facebook icon-3d"></i>
        </a>
        <a href="https://www.instagram.com/littlejerryto/" target="_blank">
          <i class="fa fa-instagram icon-3d"></i>
        </a>
      </div>
    </section> -->
    <!-- <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@2.6.8/dist/vue.min.js"></script>
    <script>
      let header = new Vue({
        el: "#headerNav",
        data: {
          navInvoke: false,
        },
        methods: {
          toggleNav: function () {
            this.navInvoke = !this.navInvoke;
          },
        },
      });
      let maain = new Vue({
        el: "#main-container",
        data: {
          isMobile: false,
          window: {
            width: 0,
            height: 0,
          },
        },
        created() {
          window.addEventListener("resize", this.handleResize);
          this.handleResize();
        },
        destroyed() {
          window.removeEventListener("resize", this.handleResize);
        },
        methods: {
          handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
            this.handleMobile();
          },
          handleMobile: function () {
            this.window.width <= 600
              ? (this.isMobile = true)
              : (this.isMobile = false);
          },
        },
      });
    </script>
    <!-- <script src="https://littlejerry.ambassador.ai/widget/ambassador-chat.js"></script>
    <script>
      AmbassadorChat.init({ domain: "littlejerry.ambassador.ai" });
    </script> -->
  </body>
</html>
